# ESP-IDF build output
build/
sdkconfig
sdkconfig.old
*.pyc

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# Dependencies
managed_components/
dependencies.lock

# Logs
*.log


# PlatformIO
.pio/
